<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="signup.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <img src="Hitman_Absolution.jpg" alt="Hitman Absolution">
    <div class="container">
        <div class="row">
            <div class='col-md-6 offset-md-3 col-sm-12'><br><br><br>
                <h1 class="text-center">Sign Up</h1><br><br><br><br>
                {{#if messages.error}}
                <div class="error btn-danger">
                    {{messages.error}}
                </div>
                <br><br>
                {{/if}}
                <form action="/signup" method="POST">
                    <input name="username" placeholder="Username" class="form-control"><br><br>
                    <input name="email" type="email" placeholder="Email" class=" form-control"><br><br>
                    <input name="password" type="password" placeholder="Password" class="form-control"><br><br>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>