<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="support.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/support">Support</a>
        </div>
    </nav><br><br><br>
    <div class="abc">

        <h2>Gamify Support</h2><br><br>
        <h4>
            Do you have trouble logging in ?<br><br>
            You can contact us via the email provided.<br><br>
            You can also post suggestions for improving this Website.
        </h4><br><br><br>
        <h4>Email: gauravcherwal@outlook.com<br><br>
            Phone No: +91-9899999990
        </h4>
    </div>
</body>

</html>