img {
    width: 100%;
    position: absolute;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

h1 {
    color: wheat;
    text-decoration: underline;
}



#sign {
    background-color: blue;
}

p {
    transform: translate(500px);
    font-weight: bold;
    font-style: italic;
    font-size: 25px;

}

.error {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

#jkl {
    text-decoration: underline;
    font-weight: bold
}

#signup {
    font-style: italic
}

body {
    background-color: blanchedalmond;
}