.card {
    margin: 0 auto;
    top: 100px;
    border: 5px outset red;
}

.card-body {
    background-color: antiquewhite;
}



.card-title {
    font-style: italic;
    font-weight: bold;
}

body {
    background-color: darkmagenta;
}

a.btn{
    background-color: #1038E3;
    color: whitesmoke;
} 

.btn:hover {
    background-color: black;
    color: wheat;
}

.like {
    font-weight: bold;
}